<p-treeTable [value]="files">
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>English</th>
      <th>Spanish</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode" />
        {{ rowData.title }}
      </td>
      <td>{{ rowData.ingles || rowData.word }}</td>
      <td>{{ rowData.espanol || rowData.meaning }}</td>
    </tr>
  </ng-template>
</p-treeTable>
